.header {
    padding: 0px, 0px, 0px, 50px;
background-color: black;
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.logo {
    max-height: 65px;
}



.material-icons{
    padding-right: 5px;
    padding-left: 50px;
}


